<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.codecatchersapp">

    <!-- User Perms -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location Permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeCatchersApp"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QROptionsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.codecatchersapp.MainMenuActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.codecatchersapp.UserAccountActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.codecatchersapp.ScannerActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.codecatchersapp.ScanErrorActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.codecatchersapp.CameraActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.codecatchersapp.SocialMenuActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.codecatchersapp.ViewMonProfile"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.codecatchersapp.LeaderboardsActivity"
            android:exported="true">
        </activity>
  
        <activity
            android:name="com.example.codecatchersapp.SearchUsersActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.codecatchersapp.ScoreRevealActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".MapActivity"
            android:exported="true">
        </activity>

    </application>


</manifest>